*{
    padding: 0;
    margin: 0;
}
.dp-menu ul{
    list-style-type: none; /*tira as bolinhas da lista*/
    padding: 0;
}

.dp-menu ul{
    background-color: #142850;
}

.dp-menu ul li{
    display:inline;
    position: relative;

}

.dp-menu ul li a{
    
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background 0.3s;
}

.dp-menu ul li a:hover{
    background-color: #00909E;
    border-radius: 8px;
   }

.dp-menu ul ul{
    display: none;
    left: 0;
    position: absolute;
   }
   
.dp-menu ul li:hover ul{
    display: block;
}   

.dp-menu ul ul {
    width: 150px;
}

.dp-menu ul ul li a{
    display: block;
}

/**/
.logo{
    margin-left: 900px;
    margin-top: 10px;
}

